@font-face {
    font-family: "Peyda";
    src: url("./assets/fonts/Peyda.woff2");
}

* {
    margin: 0;
    padding: 0;
}

body {
    direction: rtl;
    font-family: "Peyda" !important;
    border-radius: 1.3rem;
}

.bgDark {
    background-color: rgba(72, 82, 94, 0.9);
    color: white !important;
}

.bgDark a {
    color: white !important;
}

.bgLight {
    background-color: #f4f4f4;

    color: #3d518f !important;
}

.bgLight a {
    color: #3d518f !important;
}
